body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(49, 16, 87);
  color: #ccc;
  max-width: 1024px;
  width: 80%;
}

.header {
  align-content: center;
  text-align: center;
  font-size: 30px;
  height: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  text-align: right;
  font-size: 12px;
 }
 
 .textSection {
   text-align: justify;
   font-size: 20px;
   
 }

 .main {
   height: 80%;
 }
